body {
  margin: 0;
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
